<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic Webshop</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <header>
        <h1>My Shop</h1>
    </header>


    <nav>
        <a th:href="'/only-available'">ONLY AVAILABLE</a>
        <a>CHEAPEST FIRST</a>
        <a>CONTAINS NIKE</a>
        <a>AVERAGE STOCK</a>
        <a>MOST EXPENSIVE AVAILABLE</a>
    </nav>

    <table>
        <thead>
            <td>Name</td>
            <td class="descriptionHead">Description</td>
            <td>Price</td>
            <td>Quantity of stock</td>
        </thead>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}" class="nameCol"></td>
            <td th:text="${item.description }" class="descriptionCol"></td>
            <td th:text="${item.price} + ' Kč'" class="amount"></td>
            <td th:text="${item.quantityOfStock}" class="amount"></td>
        </tr>
    </table>
</body>
</html>