html{
    font-family: sans-serif;
    width: 850px;
}

header{
    border-bottom: 1.5px solid skyblue;
    margin-bottom: 30px;
    width: auto;
}

a{
    text-decoration: none;
}

header > a{
    font-size: 48px;
    font-weight: bold;
    color: skyblue;
}

nav{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

nav > a{
    background-color: orangered;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin-bottom: 1px;
}


thead{
    background-color: aqua;
    padding: 10px;
    font-weight: bold;

}

td{
    word-wrap: break-word;
    height: 100px;
    font-size: 20px;
}

td:not(.nameCol){
    text-align: center;

}

.nameCol{
    padding-left: 10px;
}

.amount{
    font-size: 24px;
}

td:not(.descriptionHead){
    width: 15%;
}

.descriptionHead{
    width: 50%;
}

.descriptionCol{
    font-size: 18px;
}

table{
    width: 100%;
}

.average{
    font-weight: bold;
    font-size: 48px;
}

.searchField{
    width: 100%;
    position: relative;

}

label{
    color: #ce6640;
}

input{
    border-color: orangered;
    border-radius: 5px;
    border-style: solid;
    width: 85%;
    box-sizing: border-box;
    font-size: 20px;
    text-indent: 5px;
    margin-bottom: 20px;

}

button{
    width: 13%;
    margin-left: 5px;
    background-color: orangered;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

input, button{
    height: 50px;
}