<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <thead>
        <td>
            Index
        </td>
        <td>
           Name
        </td>
        <td>
            Balance
        </td>
        <td>
            Animal Type
        </td>
        <td>
            Royalty Status
        </td>
        <td>
            Role
        </td>
    </thead>
    <tr th:each="account: ${accounts}" th:attr="class=${account.getRoyalStyleClass()}">
        <td th:text="${accountStat.index}"></td>
        <td th:text="${account.name}"></td>
        <td th:text="${account.balance} + ' Zebra'"></td>
        <td th:text="${account.animalType}"></td>
        <td th:text="${account.isKingToString()}"></td>
        <td th:text="'I am a ' + ${account.isGoodToString()} + '!'"></td>
    </tr>
</table>
</body>
</html>